@font-face {
  font-family: 'Tele Grotesk Screen';
  src: url('/static/fonts/telegrotesk-normal.eot?') format('eot'), url('/static/fonts/telegrotesk-normal.woff') format('woff'), url('/static/fonts/telegrotesk-normal.ttf') format('truetype');
}
@font-face {
  font-family: 'Tele Grotesk Halbfett';
  src: url('/static/fonts/telegrotesk-halbfett.eot?') format('eot'), url('/static/fonts/telegrotesk-halbfett.woff') format('woff'), url('/static/fonts/telegrotesk-halbfett.ttf') format('truetype');
}
@font-face {
  font-family: 'Tele Grotesk Fett';
  src: url('/static/fonts/telegrotesk-fett.eot?') format('eot'), url('/static/fonts/telegrotesk-fett.woff') format('woff'), url('/static/fonts/telegrotesk-fett.ttf') format('truetype');
}
@font-face {
  font-family: 'Tele Grotesk Ultra';
  src: url('/static/fonts/telegrotesk-ultra.eot?') format('eot'), url('/static/fonts/telegrotesk-ultra.woff') format('woff'), url('/static/fonts/telegrotesk-ultra.ttf') format('truetype');
}
